.main {
  width: 100%;
  height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-bg;
  padding-bottom: 70px;

  .main__container {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 70px;
    .empty-list {
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .group-list {
      width: 100%;
      box-shadow: $box-shadow;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      padding: 20px;
      margin: 10px 0;
      border-radius: $radius-button;

      .group {
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .group__name {
          color: $color-text;
          font-size: 18px;
          font-weight: 700;
          transition: $button-transition;
        }
      }

      .contacts {
        height: 0px;
        opacity: 0;
        transition: $button-transition;
        overflow: hidden;
      }

      .contact-list {
        min-width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $color-grey;
      }
      .arrow-button {
        border: none;
        background-color: transparent;
        transition: $button-transition;
      }
      .contact-list__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        .contact-list__name {
          font-size: 18px;
          font-weight: 400;
        }
        .contact-list__phone {
          font-size: 18px;
          font-weight: 400;
          color: $color-text;
        }
      }

      .contact-list__buttons {
        width: 100px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 15px;
        margin-left: 40px;

        .edit-contact-button:hover {
          background-color: $hover-color-primary;
          color: $color-white;
        }
        .delete-contact-button:hover {
          background-color: $hover-color-red;
        }
      }
      .contact-list__buttons button {
        width: 38px;
        height: 38px;
        border-radius: $radius-button;
        border: 1px solid $color-grey;
        background-color: transparent;
        transition: $button-transition;
      }
    }

    p {
      color: $color-grey;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

@media screen and (max-width: 600px) {
  .main {
    .main__container {
      width: 90%;
      margin-top: 120px;
      .group-list {
        .group {
          h3 {
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .main {
    .main__container {
      .group-list {
        .contact-list {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: flex-end;
          .contact-list__info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 15px;
            .contact-list__name {
              font-size: 18px;
            }
            .contact-list__phone {
              font-size: 18px;
            }
          }
          .contact-list__buttons button {
            width: 38px;
            height: 38px;
            font-size: 10px;
            margin-bottom: 10px;
          }
        }
        .group {
          width: 90%;
          h3 {
            font-size: 14px;
          }
        }
      }
    }
  }
}
