.editing-contacts {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: none;

  .editing-contacts__container {
    width: 512px;
    height: 312px;
    background-color: #fff;
    z-index: 100;
    box-shadow: $box-shadow;
    border-radius: $radius-button;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .editing-contacts__inputs {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      input {
        width: 90%;
        height: 40px;
        border-radius: $radius-button;
        border: 1px solid $color-grey;
        padding: 0 20px;
        font-size: 16px;
        font-weight: 400;
        line-height: 120%;
        color: $color-text;
        letter-spacing: 0px;
        font-family: $font-primary;
      }
      input:focus {
        outline: 1px solid $color-primary;
      }
    }
    .editing-contacts__buttons {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;

      button {
        width: 120px;
        height: 38px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $radius-button;
        background-color: $color-primary;
        color: $color-white;
        font-family: $font-primary;
        font-size: 14px;
        font-weight: 700;
        transition: $button-transition;
      }
      button:last-child {
        width: 120px;
        height: 38px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $radius-button;
        background-color: $color-white;
        color: $color-primary;
        font-family: $font-primary;
        font-size: 14px;
        font-weight: 700;
        transition: $button-transition;
      }
      button:last-child:hover {
        color: $color-primary;
        background-color: $hover-color-primary-light;
      }
      button:hover {
        background-color: $hover-color-primary;
      }
    }
  }
}
