.groups {
  width: 312px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;

  .groups__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 70px;
    border-bottom: 1px solid $color-grey;

    .groups__button_close {
      border: none;
      background-color: transparent;
      z-index: 2;
    }

    h3 {
      width: 174px;
      height: 22px;
      font-size: 15px;
      font-weight: 700;
      line-height: 120%;
      color: $color-text;
      letter-spacing: 0px;
      font-family: $font-primary;
    }
  }
  .groups__main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .groups__list {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .groups__item {
        width: 214px;
        height: 38px;
        border-radius: $radius-button;
        border: none;
        outline: none;
        padding: 10px;
        background-color: $color-bg;
        font-size: 14px;
        font-weight: 400;
        line-height: 120%;
        color: $color-text;
        letter-spacing: 0px;
        font-family: $font-primary;
      }
    }

    .groups__button_delete {
      width: 38px;
      height: 38px;
      border-radius: $radius-button;
      border: 1px solid $color-bg;
      background-color: transparent;
    }
    .groups__button_delete:hover {
      background-color: $color-red;
    }

    .group {
      display: flex;
      align-items: center;
      gap: 10px;
      color: $color-text;
      font-size: 14px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 0px;
      font-family: $font-primary;
    }

    input {
      width: 214px;
      height: 38px;
      border-radius: $radius-button;
      border: none;
      outline: none;
      padding: 10px;
      background-color: $color-bg;
      font-size: 14px;
      font-weight: 400;
      line-height: 120%;
      color: $color-text;
      letter-spacing: 0px;
      font-family: $font-primary;
    }
  }
  .groups__footer {
    width: 212px;
    height: 38px;
    position: absolute;
    top: calc(90% + 38px);
    left: 76px;

    .groups__button {
      width: 96px;
      height: 38px;
      color: $color-primary;
      background-color: $color-white;
      border-radius: $radius-button;
      border: none;
      font-size: 14px;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0px;
      font-family: $font-primary;
    }
    .groups__button_save {
      width: 104px;
      height: 38px;
      color: $color-white;
      background-color: $color-primary;
      border-radius: $radius-button;
      border: none;
      font-size: 14px;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0px;
      font-family: $font-primary;
    }
  }
}
