.left-menu-add {
  width: 312px;
  height: 960px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;

  .left-menu-add__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 70px;
    border-bottom: 1px solid $color-grey;

    .left-menu-add__button {
      border: none;
      background-color: transparent;
      z-index: 2;
    }

    h3 {
      width: 174px;
      height: 22px;
      font-size: 15px;
      font-weight: 700;
      line-height: 120%;
      color: $color-text;
      letter-spacing: 0px;
      font-family: $font-primary;
    }
  }
  .left-menu-add__main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .left-menu-add__custom-select {
      position: relative;
      width: 264px;
      height: 38px;
      border-radius: $radius-button;
      border: none;
      outline: none;
      padding: 10px;
      background-color: $color-bg;
      font-size: 14px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 0px;
      font-family: $font-primary;

      p {
        color: $color-grey;
      }
      .left-menu-add__select {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left-menu-add__button_arrow {
          border: none;
          background-color: transparent;
          transition: $button-transition;
        }
        .active {
          transform: rotate(180deg);
        }
      }
      .left-menu-add__options {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        margin-top: 10px;
        border-radius: $radius-button;
        border: none;
        background-color: $color-bg;
        font-size: 14px;
        font-weight: 400;
        line-height: 120%;
        color: $color-text;
        letter-spacing: 0px;
        font-family: $font-primary;
        opacity: 0;
        .left-menu-add__options.active {
          opacity: 1;
        }

        .left-menu-add__option {
          width: 100%;
          padding: 10px;
          cursor: pointer;
        }
        .left-menu-add__option:hover {
          background-color: rgb(198, 198, 198);
        }
        .left-menu-add__option:first-child {
          margin: 0;
        }
      }
    }
    input {
      width: 264px;
      height: 38px;
      border-radius: $radius-button;
      border: none;
      outline: none;
      padding: 10px;
      background-color: $color-bg;
      font-size: 14px;
      font-weight: 400;
      line-height: 120%;
      color: $color-text;
      letter-spacing: 0px;
      font-family: $font-primary;
    }
    input:focus {
      outline: $inputs-outline;
    }
  }
  .left-menu-add__footer {
    position: absolute;
    top: calc(100vh - 5%);
    left: 184px;

    .left-menu-add__button_save {
      width: 104px;
      height: 38px;
      color: $color-white;
      background-color: $color-primary;
      border-radius: $radius-button;
      border: none;
      font-size: 14px;
      font-weight: 700;
      line-height: 120%;
      letter-spacing: 0px;
      font-family: $font-primary;
      transition: $button-transition;
    }
    .left-menu-add__button_save:hover {
      background-color: $hover-color-primary;
    }
  }
}
