.loader__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 2000;
  background-color: $loader-bg;
  padding: 20px;
  border-radius: $radius-button;
  .loader {
    width: 64px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 6px solid $color-primary;
    border-color: $color-primary $color-red $color-primary $color-red;
    animation: spin 1.2s linear infinite;
  }
  p {
    font-size: 15px;
    font-weight: 400;
    line-height: 120%;
    color: $color-text;
    letter-spacing: 0px;
    font-family: $font-primary;
    margin-top: 20px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
