.poap {
  width: 35%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: $radius-button;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  display: none;
  z-index: 1000;
  transition: $button-transition;

  .poap__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    padding: 30px;

    h3 {
      font-size: 25px;
      font-weight: 700;
    }
    p {
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      line-height: 120%;
      color: $color-text;
      letter-spacing: 0px;
      font-family: $font-primary;
    }

    .poap__buttons {
      display: flex;
      gap: 10px;

      .poap__button_confirm {
        width: 120px;
        height: 50px;
        border: none;
        border-radius: $radius-button;
        background-color: $color-primary;
        color: $color-white;
        font-family: $font-primary;
        font-size: 14px;
        font-weight: 700;
        transition: $button-transition;
      }
      .poap__button_cancel {
        width: 120px;
        height: 50px;
        border: none;
        border-radius: $radius-button;
        background-color: $color-white;
        color: $color-primary;
        font-family: $font-primary;
        font-size: 14px;
        font-weight: 700;
        transition: $button-transition;
      }
      .poap__button_cancel:hover {
        background-color: $hover-color-primary-light;
      }
      .poap__button_confirm:hover {
        background-color: $hover-color-primary;
      }
    }
  }
}
