.toast {
  position: absolute;
  bottom: 5%;
  right: 5%;
  transform: translateX(150%);
  width: 260px;
  height: 50px;
  padding: 10px 20px;
  background-color: #fff;
  transition: $button-transition;
  border-radius: $radius-button;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    color: $color-text;
    letter-spacing: 0px;
    font-family: $font-primary;
  }
}
