@import "./base/reset";
@import "./base/variables";

@import "./blocks/header";
@import "./blocks/contacts";
@import "./blocks/leftMenu";
@import "./blocks/mask.scss";
@import "./blocks/groups.scss";
@import "./blocks/toast.scss";
@import "./blocks/poap.scss";
@import "./blocks/loader.scss";
@import "./blocks/editingContacts.scss";
