@font-face {
  font-family: "Circe";
  src: url("@/assets/fonts/Circe-Light.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Circe";
  src: url("/src/assets/fonts/Circe-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
