@font-face {
  font-family: "Circe";
  src: url("../../assets/fonts/circe_light.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Circe";
  src: url("../../assets/fonts/circe_bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
