$color-white: #ffffff;
$color-bg: #f3f4f6;
$color-grey: #666666dc;
$color-primary: #005bfe;
$hover-color-primary: #0047c6;
$hover-color-primary-light: #9ebffdc2;
$color-red: #f81155;
$hover-color-red: #d1003e;
$loader-bg: #ffffffd2;
$color-text: #111827;
$color-mask: rgba(0, 0, 0, 0.458);
$radius-button: 6px;
$font-primary: "Circe", system-ui, sans-serif;
$box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

$button-transition: all 0.3s ease-in-out;
