$color-white: #ffffff;
$color-bg: #f3f4f6;
$color-grey: #797979a2;
$color-primary: #005bfe;
$hover-color-primary: #0047c6;
$color-red: #f81155;
$hover-color-red: #d1003e;
$color-text: #111827;
$color-mask: rgba(0, 0, 0, 0.458);
$radius-button: 6px;
$font-primary: "Circe", system-ui, sans-serif;

$button-transition: all 0.3s ease-in-out;
